!!!
%html
  %head
    %title RedTix
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if flash.present?
      #flash
        - flash.each do |type, msg|
          %div{class: type}= msg
    #content
      = yield
