!!!
%html{ class: 'no-js' }
  %head
    %title RedTix
    = stylesheet_link_tag    'application'
    = render 'layouts/ie_shim'
    = javascript_include_tag 'head'
    = csrf_meta_tags
  %body
    - if flash.present?
      #flash
        - flash.each do |type, msg|
          %div{class: type}= msg
    #container
      = yield
    = javascript_include_tag 'body'
